body{
    font-family: 'Poppins', sans-serif
}
.container{
    margin-bottom: 50px;
}
.navbar-brand img{
    width: 100px;
}
.navbar-nav > li > a:hover{
    background-color: #21B573;
    border-radius: 33px;
    padding: 0px, 12px, 0px, 28px;
}
button{
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #21B573;
    padding: 5px 20px;
}
button:hover{
    background-color: rgb(180, 130, 245);
}
.card2-img{
    width: 100px;
    height: 100px;
}
.book-area .card{
    border:none;
    border-radius: 10px;
    background-color: #F8FFFB;;
}
.book-area .card:hover{
    background-color: white;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
h3{
    margin-bottom: 50px;
    text-align: center;
}
.img-thumbnail{
    border: none;
}
.card3-img{
   padding: 5px; 
}
.online-area .card{
    background-color: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}
.card-footer{
    border: none;
}
.calendar-img{
    height: 20px;
    width: 20px;
    margin: 0px 10px 0px 0px;
}
.people-img{
    height: 20px;
    width: 20px;
    margin: 0px 10px 0px 0px;
}
.card4{
    border: none;
}
.man-area-text{
    font-size: 16px;
    line-height: 30px;
}
h6{
    font-weight: bold;
    color: white;
    line-height: 30px;
}
.paragraph{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: white;
}
footer p{
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 10px;
}

